<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <script src="../../js/jquery-2.1.3.min.js"></script>
    <script src="../../js/jgui-1.0.min.js"></script>
    <link href="../../css/jgui.css" rel="stylesheet" />
    <link href="../../css/icon.css" rel="stylesheet" />
    <script src="../../js/demo.js"></script>
</head>
<body style="padding:2px;">
    <div class="gpanel" style="width:400px;" data-options="{header:'我的第一个panel'}" >
        我是panel 
    </div>

    <div class="gpanel"  data-options="{src:'paneltest.html',fit:false,header:'通过src网页加载'}">
       
    </div>
<script>var ihtml = document.body.innerHTML;</script>        
</body>
</html>
