<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <script src="../../js/democolor.js"></script>
    <link href="../../css/demostyle.css" rel="stylesheet" />
  
</head>
<body>
     <div class="inherrit">继承于：
         <a href="javascript:exec({ url: 'demo/layout/titlebar.html', text: 'titlebar' })">gtitlebar</a>
     </div>
   <div class="title">
       <span class="sub1">gpanel</span>
       <span class="sub2">(面版管理器)</span>
   </div>

<pre>
     &lt;div class="gpanel" style="width:400px;" &gt;
        我是panel 
    &lt;/div&gt;
        
</pre>
  
    <div class="head" >Properties(属性)：</div>
    <table>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Description</th>
            <th>Default</th>
        </tr>
        <tr>
            <td>header</td>
            <td>string</td>
            <td>标题内容</td>
            <td></td>
        </tr>
        <tr>
            <td>headerIcon</td>
            <td>string</td>
            <td>标题左边图标</td>
            <td></td>
        </tr>
        <tr>
            <td>fit</td>
            <td>boolean</td>
            <td>是否最大化</td>
            <td>false</td>
        </tr>
        <tr>
            <td>width</td>
            <td>Number</td>
            <td>宽度</td>
            <td>300</td>
        </tr>
        <tr>
            <td>height</td>
            <td>Number</td>
            <td>高度</td>
            <td>200</td>
        </tr>
        <tr>
            <td>close</td>
            <td>boolean</td>
            <td>是否显示关闭按钮</td>
            <td>true</td>
        </tr>
                <tr>
            <td>collapse</td>
            <td>boolean</td>
            <td>是否显示展开/收起按钮</td>
            <td>true</td>
        </tr>
                      <tr>
            <td>max</td>
            <td>boolean</td>
            <td>是否显示最大化按钮</td>
            <td>true</td>
        </tr>
                   <tr>
            <td>isOverflow</td>
            <td>boolean</td>
            <td>溢出时是否显示滚动条</td>
            <td>true</td>
        </tr>
    </table>
  
       Examples(示例)
       <a  href="javascript:exec({ url: 'demo/layout/panelcode.html', text: 'panel示例' })"> gpanel</a>

</body>
</html>