<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <script src="../../js/jquery-2.1.3.min.js"></script>
    <script src="../../js/jgui-1.0.js"></script>
    <link href="../../css/jgui.css" rel="stylesheet" />
    <link href="../../css/icon.css" rel="stylesheet" />
    <script src="../../js/demo.js"></script>
    <style>
        div {margin:10px;}
    </style>
  
</head>
<body style="padding:100px;">
    <div><div id="Div0" style="width:400px;" ></div></div>
    <div><div id="Div1" style="width:400px;" ></div></div>
    <div><div id="Div2" style="width:400px;" ></div></div>
    <div><div id="Div3" style="width:400px;" ></div></div>
    <div><div id="Div5" style="width:400px;" ></div></div>
    <div><div id="Div4" style="width:400px;" ></div></div>

<script>
    var ihtml = document.body.innerHTML;
    $('#Div0').gtitlebar({ collapse: true, header: 'aaaaaaaaaaaaaa', headerIcon: 'folder', max: true });
    $('#Div1').gtitlebar({ collapse: true, header: 'bbbbbbbbbbbb', headerIcon: 'folder', max: true });
    $('#Div2').gtitlebar({ collapse: true, header: 'ccccccccccccc', headerIcon: 'folder', max: true });
    $('#Div3').gtitlebar({ collapse1: true, header: 'dddddddddddddddd', headerIcon: 'folder', max: true });
    $('#Div5').gtitlebar({ collapse: true, header: 'eeeeeeeeeeeeeeeeee', headerIcon: 'folder', max: true });
    $('#Div4').gtitlebar({ collapse1: true, header: 'fffffffffffffffff', headerIcon: 'folder', max: true });
</script>
    </body>
</html>
