<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title></title>
    <script src="../../js/jquery-2.1.3.js"></script>
    <script src="../../js/jgui-1.0.js"></script>
    <link href="../../css/jgui.css" rel="stylesheet" />
    <link href="../../css/icon.css" rel="stylesheet" />
    <script src="../../js/demo.js"></script>
</head>
<body style="padding:12px;">
    
    <fieldset>
        <legend>window基本功能</legend>
        <div class="gtoolbar">
            <a class="gbutton" data-options="{click:showwindow,icon:'open'}">显示窗口</a>
            <a class="gbutton" data-options="{click:show1,icon:'open'}">显示带src窗口</a>
        </div>
        <br />
        </fieldset>
    <hr />
    <fieldset>
        <legend>window提示窗口</legend>
        <div class="gtoolbar">
            <a class="gbutton" data-options="{click:alert1,icon:'open'}">jgui.alert</a>
            <a class="gbutton" data-options="{click:prompt1,icon:'open'}">jgui.prompt</a>
            <a class="gbutton" data-options="{click:confirm1,icon:'open'}">jgui.comfirm</a>
        </div>
        <br />
    </fieldset>
    <hr />
    <fieldset>
        <legend>网页间传值</legend>
        <div class="gtoolbar">
            <a class="gbutton" data-options="{click:open1,icon:'open'}">jgui.open</a> <span style="color:red;">以文件的方式打开被认为是跨域，在此不能传值，需要以web方式运行</span>
        </div>
        <br />
        <label>传进窗口的值：</label><input type="text" value="网页间传值" id="para" />
        <label>从窗口返回值：</label><input type="text" id="result" />
    </fieldset>
        <div id="mywindow" class="gwindow" data-options="{isOverflow:false,resizeable:true,headericon:'folder',closed:false,max:true,collapse:false,header:'我的窗口',drageable:true,resizeable:true,shadowable:true,mask:true}" style="width:400px;">
            我是窗口
            <div class="gdate"></div>
        </div>
      <script>
          var ihtml = document.body.innerHTML;
          var showw, aopen;
          function showwindow(fg) {
              jgui.get('mywindow').open();
          }
          function alert1() {
              jgui.alert('22222222222<br/>2222');
          }
          function prompt1() {
              jgui.prompt('请输入：', function (v) { alert("你输入了:" + v); }, '默认值');
          }
          function confirm1() {
              jgui.confirm('确认吗？', function (ok) { alert('你单击了' + ok); });
          }
          function show1() {
              if (showw) showw.open();
              else {
                  showw = $('<div></div>').appendTo('body').gwindow({ max: true, header: '带src的窗口', src: "window.html", closed: false })[0];
              }
          }
          function open1() {
              aopen = jgui.open({
                  max: true,
                  header: '网页间传值',
                  src: "test.html",
                  closed: false,
                  width: 500,
                  height: 300,
                  onstart: function () { this.setok(para.value); },
                  onclose: function () { if (this.closeok) result.value = this.getData(); }
              });
          }
    </script>
</body>
</html>
  